
<script>var paper = Raphael(0, 0, 3000, 475);
  var orderArray = [];
  var everythingRightOfBudget = paper.set();
</script>
<div id="text">
<% current_total = 0 %>
<% starting_total = 0 %>
<% @categories.each do |category| %>
  <% current_total = current_total + category.current_balance %>
  <% starting_total = starting_total + category.starting_balance %>
  <%= link_to 'Edit' , edit_category_path(category) %>
  <%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %>
  <script>
    categories.push(<%= category.to_json( :only => [ :id, :cat_name, :starting_balance, :current_balance, :pocket_balance, :pocket_x, :pocket_y ]).html_safe %>);
    drawCategory('<%= category.cat_name %>', <%= category.starting_balance %>, <%= category.current_balance %>, <%= category.pocket_balance %>, <%= category.graph_position_number %>,<%= current_total %>, <%= starting_total %>);
  </script>
<% end %>

<% @categories.each do |pocket_bubble| %>
  <script>
    if(<%= pocket_bubble.pocket_balance %> > 0){drawPocketBubble('<%= pocket_bubble.cat_name %>', <%= pocket_bubble.pocket_balance %>, <%= pocket_bubble.graph_position_number %>, <%= pocket_bubble.pocket_x %>, <%= pocket_bubble.pocket_y %>);}
  </script>
<% end %>
<p><%= current_total %> of <%= starting_total %></p>

<script>
  //currentTotalText.show();
  divider.show();
  divider.glow({width: 25, opacity: .1});
  everythingRightOfBudget.push(divider);
  
  bigBorder = paper.rect(0, 0, 3000, 475).attr({opacity: .4});
  bigBorder.glow({width: 25, opacity: .1});
  
  startingTotalBar.show();
  startingTotalBar.glow({width: 2, opacity: .1});
  currentTotalBar.show();
  
  var pocketBackground = paper.image("assets/graph2.jpg", divider.attr("x"), 0, 400, 500).attr({opacity: 1});
  pocketBackground.toBack();
  everythingRightOfBudget.push(pocketBackground);
  
  var transactionsBackground = paper.image("assets/chalkboard_s.png", divider.attr("x") + 400, 0, 400, 500);
  transactionsBackground.glow({width: 10, opacity: .5});
  everythingRightOfBudget.push(transactionsBackground);
</script>    

<p><%= link_to 'New Category', new_category_path %></p>
</div>
