<h1>Listing categories</h1>

<% @categories.each do |category| %>
  <%= link_to 'Edit' , edit_category_path(category) %>
  <script type="text/javascript">
    var paper = Raphael(50, 100, 1000, 500);
    drawCategory('<%= category.cat_name %>', <%= category.dollars %>, <%= category.cat_number %>);
  </script>
<% end %>

<%= link_to 'New Category', new_category_path %>
