<p id="notice"><%= notice %></p>

<p>
  <b>Cat name:</b>
  <%= @category.cat_name %>
</p>

<p>
  <b>Dollars:</b>
  <%= @category.dollars %>
</p>

<p>
  <b>Cat number:</b>
  <%= @category.cat_number %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
